<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display puppy</title>
  </head>
  <body>
    <h1>This is the Puppy!</h1>
    <h2>Puppy Name:</h2>
    <p><%="#{@puppy.name}" %></p>
    <h2> Puppy Breed: </h2>
    <h3><%= "#{@puppy.breed}" %></h3>
    <h2> Puppy Age: </h2>
    <h3><%="#{@puppy.age}" %></h3>

  </body>
</html>
